body{ 
    margin: 0;
    padding: 0; 
    background: #246152;
}
*{
    box-sizing: border-box;
}
h1{
    color: white;
}
p{
    color: white;
    font-size: 16px;
}
button{
    border: none;
}
label, button{
    color: white;
}
a{
    color: #f7f7f7;
}

/* Los Input Fin */
